img-peer-to-peer{
    background-image: url("../public/assets/images/entreprise.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right;
}